    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="material-icons">flight_takeoff</i>
              </div>
              <h3>Buscamos los mejores descuentos</h3>
              <p class="lead mb-0">Estamos buscando en todo momento los mejores precios para viajes a todas partes del mundo.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="material-icons">alarm</i>
              </div>
              <h3>Te Avisamos</h3>
              <p class="lead mb-0">Cuando encontremos reales descuentos te alertaremos y te indicaremos los pasos a seguir para comprar tus pasajes.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="material-icons">beach_access</i>
              </div>
              <h3>Disfruta tu Viaje!</h3>
              <p class="lead mb-0">Te vas de vacaciones ahorrando una buena cantidad de dinero.</p>
            </div>
          </div>
        </div>
      </div>
    </section>