  <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('<%= image_path('destinos/puerto-montt.jpg') %>');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Santiago a Puerto Montt <strong>$30.000</strong> </h2>
            <p class="lead mb-0">Precio normal de ida y vuelta: $120.000</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('<%= image_path('destinos/san-andres.jpg') %>');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>San Andrés, Colombia <strong>$260.000</strong> </h2>
            <p class="lead mb-0">Precio normal de ida y vuelta: $350.000</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('<%= image_path('destinos/madrid.jpg') %>');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Madrid, España <strong>$550.000</strong></h2>
            <p class="lead mb-0">Precio normal de ida y vuelta: $800.000</p>
          </div>
        </div>
      </div>
    </section>