<!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Historias Reales</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
              <h5>Marianela L.</h5>
              <p class="font-weight-light mb-0">
              ¡Muchas gracias por la alerta! Con mi hermano nos hemos estado muriendo por explorar un poco de Chile.
              Con su primicia, pude reservar dos boletos de ida y vuelta desde Santiago a Puerto Montt por un precio mucho menor al normal.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
              <h5>Cesar C.</h5>
              <p class="font-weight-light mb-0">
              Me encanto esta idea, soy una persona que está buscando nuevas aventuras que viajan constantemente y que pueden recibir alertas de diferentes destinos con presiciones increibles.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
              <h5>Estela H.</h5>
              <p class="font-weight-light mb-0">
              Pase a la versión premium para poder configurar mis alertas,
              en esta semana ya he recibido 2 alertas bastante interesantes. Me encanta :)
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
